Flask

# Flask Extensions
Flask-Admin
Flask-Assets
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-Security
Flask-SQLAlchemy
Flask-Script
Flask-WTF

# Other
itsdangerous
cssmin
jsmin
psycopg2

# Testing
pytest
pytest-cov
mccabe
flake8
